@import "../../../../../colors.scss";

.modal-content {
	border: 0.25rem solid black;
	border-radius: 0.5rem;
	background-color: $tertiary;
	justify-content: center;
	align-items: center;
	height: 12.5rem;
	
	.modal-body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		border: 0px;

		button {
			margin: 0rem 0.75rem;
		}
	}
}